# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python Lint and Test

on:
  push:
    branches: ["main", "refactor"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"
      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv
      - name: Install dependencies
        run: |
          uv sync --extra dev
      - name: Ruff format check
        run: |
          uv run ruff format --check
      - name: Ruff lint
        run: |
          uv run ruff check --output-format=github .
      - name: Test with pytest
        run: |
          uv run pytest --cov=src/autorename --cov-report=term
